/*********************
Iterate Over Unordered List 
- Editing Font RGB Color
*********************/

@mixin iteration($max, $rgbValue) {
	
	@for $i from 1 through $max {
		&:nth-child(#{$i}) {
			color: rgb( $rgbValue + $i, $rgbValue + $i, $rgbValue + $i );
		}
	}
}


ul {
	display: block;
	
	li {
		display: inline-block;
		float: none;
		color: rgb(210,210,210);
	
		&:before {
			content: "["; }
		&:after {
			content: "]"; }
	
		@include iteration(12, 210);
	}
}
