
@mixin transition($args, $args2) {
	$second: $args2;
	@if $second == null {
		-webkit-transition: $args;
		-moz-transition: $args;
		-ms-transition: $args;
		-o-transition: $args;
		transition: $args;
	} @else {
		-webkit-transition: $args, $args2;
		-moz-transition: $args, $args2;
		-ms-transition: $args, $args2;
		-o-transition: $args, $args2;
		transition: $args, $args2;
	}
}

@include transition(left 0.4s linear, null);

@include transition(opacity 0.5s ease-in-out, height 0.5s ease-in-out);
